/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
  * Root
  */
:root,
:root[mode="ios"],
:root[mode="md"] {
    font-family: "Ubuntu", sans-serif !important;
    --ion-font-family: "Ubuntu", sans-serif !important;
}

/*
 * Body
 */

input[type="file"],
input[type="submit"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

/*
 * Ion header styles
 */
ion-header {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);

    > ion-toolbar {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        --border-width: 0;
        --min-height: 40px;
        ion-grid {
            padding: 0;
            margin: 0;
            ion-item {
                --background: var(--ion-color-primary);
                --color: var(--ion-color-primary-contrast);
                padding: 0;
                margin: 0;
            }
            ion-row {
                padding: 0;
                margin: 0;
            }
            ion-col {
                padding: 0;
                margin: auto;
            }
            app-item-image {
                padding: 0;
                padding-left: 10px;
                margin: auto;
                width: 120px;
                max-height: 40px;
            }
        }
    }
    &.header-md > ion-toolbar:last-of-type,
    &.header-ios > ion-toolbar:last-of-type {
        --border-width: 0;
    }
}

/*
 * Ion footer styles
 */
ion-footer {

}

/*
 * Ion menu styles
 */
ion-menu {

}

/*
* Ion content styles
*/
ion-content {

}

/*
* Ion grid styles
*/
ion-grid {
    ion-row ion-col > img {
        width: 100%;
        border-radius: 6px;
        margin: 5px 0;
    }
}

/*
 * Ion item styles
 */
ion-item {
    ion-avatar,
    ion-thumbnail {
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }
}

/*
 * Ion chip styles
 */
ion-chip {
    ion-avatar,
    ion-thumbnail {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
}

/*
 * Ion thumbnail styles
 */
ion-thumbnail {
    overflow: hidden;
    border-radius: 3px;
}

/*
 * Ion searchbar styles
 */
ion-searchbar {
    padding: 10px;
   .searchbar-input {
        --background: var(--ion-color-primary-contrast);
        --color: var(--ion-color-primary);
        --border: var(--ion-color-primary);
        --border-radius: 10px;
        --box-shadow: unset;
    }
}

/*
* Ion card styles
*/
ion-card {
    width: 100%;
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    ion-card-header {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
    }
    > app-item-image {
        margin: 5px;
    }
}

/*
   * Ion button styles
   */
ion-button {
    height: 47px;
    --border-radius: 30px;
}

/*
   * Ion segment styles
   */
ion-segment {
    ion-segment-button {
        height: 40px;
        &.segment-button-checked {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }
    }
}

/*
   * Ion extra styles
   */

.modal-wrapper.sc-ion-modal-md,
.modal-wrapper {
    background-color: var(--ion-color-light);
}

.can-go-back {
    ion-menu-button {
        display: none;
    }
}

/*
* App list styles
*/
app-list {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ion-grid.app-list-grid {
        width: 100%;
        ion-row:nth-child(odd) {
            background-color: var(--ion-color-tertiary);
            color: var(--ion-color-tertiary-contrast);
            padding: 5px;
        }
        ion-row:nth-child(even) {
            background-color: var(--ion-color-primary-contrast);
            color: var(--ion-color-primary);
            padding: 5px;
        }
        ion-row:nth-child(1) {
            background-color: var(--ion-color-secondary);
            color: var(--ion-color-secondary-contrast);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;
            font-size: larger;
            font-weight: unset;
            text-transform: uppercase;
        }
        ion-row:nth-child(2) {
            background-color: var(--ion-color-primary-contrast);
            color: var(--ion-color-primary);
            padding: 10px;
            font-size: larger;
            font-style: italic;
            //      text-transform: capitalize;
        }
    }

    ion-grid.app-list-cards {
        width: 100%;
        ion-row {
            //      background-color: green;
        }
        ion-col {
            //      background-color: red;
        }
        ion-card {
            //      background-color: yellow;
        }
    }

    .app-list-grid-empty {
        background-color: var(--ion-color-primary-contrast) !important;
        color: var(--ion-color-primary);
        padding: 10px;
        font-style: italic;
        ion-col {
            opacity: 0.5;
        }
    }

    .app-list-filters {
        margin: 0px;
        padding: 0px;
        > ion-row:nth-child(n) {
            background-color: unset;
            color: unset;
            border-radius: unset;
            padding: unset;
            font-size: unset;
            font-weight: unset;
            font-style: unset;
            text-transform: unset;
        }
    }
    ion-select {
        --placeholder-color: var(--ion-color-primary);
        --placeholder-opacity: 1;
    }
}

/*
* App view styles
*/
app-view {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 20px !important;

    h1 {
        padding-left: 10px;
        font-style: italic;
        font-weight: normal;
    }

    ion-grid {
        width: 100%;
        ion-row {
            background-color: var(--ion-color-tertiary);
            color: var(--ion-color-tertiary-contrast);
        }
        ion-row.app-view-header {
            background-color: var(--ion-color-secondary);
            color: var(--ion-color-secondary-contrast);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: larger;
            font-weight: unset;
            text-transform: uppercase;
            h1 {
                font-size: medium;
                padding-bottom: 10px;
            }
        }
        ion-col {
            //      border: 1px solid red;
        }
    }
}

app-view div.app-view-mode-edit ion-grid ion-row {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
}

/*
 * App item styles
*/
app-item {
    display: block;
    margin: 5px 5px;
    margin-bottom: 0px;
    .messages {
        height: 20px;
    }
    ion-item {
        background-color: var(--ion-color-primary-contrast);
        color: var(--ion-color-primary);
        border-radius: 10px;
        padding: 0;
    }
    ion-label {
        padding: 0;
    }
    ion-input {
        padding: 0;
        text-align: right;
        font-weight: bold !important;
    }
    ion-select {
        padding: 0;
        font-weight: bold !important;
    }
    p {
        width: 100%;
        max-width: 100%;
        text-align: right;
        font-weight: bold !important;
    }
}

/*
* App item relation styles
*/
app-item-relation {
    display: block;
    border: 0;
    margin: 15px 5px;
    padding: 0;

    ion-item {
        background-color: var(--ion-color-primary-contrast);
        color: var(--ion-color-primary);
        border-radius: 10px;
        padding: 0;
    }
    ion-label {
        padding: 0;
    }
    p {
        width: 100%;
        max-width: 100%;
        text-align: right;
        font-weight: bold !important;
    }
}

/*
* App item image styles
*/
app-item-image {
    display: block;
    border: 0;
    margin: 15px 5px;
    padding: 0;

    .app-item-image-content {
        position: relative;
        background-size: cover;
        background-color: var(--ion-color-primary-contrast);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: 0;
        border: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 100%;
        border-radius: 10px;
    }

    .app-item-image-button {
        position: absolute;
        left: 50%;
        bottom: -15px;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        margin: 0;
        margin-left: -15px;
        padding: 0;
        box-sizing: border-box;
        z-index: 1;
        border: 1px solid;
        &.update {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }
        &.remove {
            background-color: var(--ion-color-danger);
            color: var(--ion-color-danger-contrast);
        }
    }
}

/*
* App item file styles
*/
app-item-file {
    display: block;
    border: 0;
    margin: 15px 5px;
    padding: 0;

    .app-item-file-content {
        position: relative;
        background-size: cover;
        background-color: var(--ion-color-primary-contrast);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: 0;
        border: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 100%;
        border-radius: 10px;
    }

    .app-item-file-button {
        position: absolute;
        left: 50%;
        bottom: -15px;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        margin: 0;
        margin-left: -15px;
        padding: 0;
        box-sizing: border-box;
        z-index: 1;
        border: 1px solid;
        &.update {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }
        &.remove {
            background-color: var(--ion-color-danger);
            color: var(--ion-color-danger-contrast);
        }
    }
}

/*
* App item postion styles
*/
app-item-postion {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
* App content styles
*/
.app-content {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-signin  {
    margin: auto;
}
/*
   * App logo styles
   */
.app-logo {
    position: absolute;
    left: 50%;
    width: 160px;
    border: 0;
    margin: 0;
    margin-top: 16px;
    margin-left: -80px;

    img {
        max-height: 60px;
    }
}

/*
* App menu styles
*/
.app-menu {
    text-align: center;
    border: 0;
    margin: 15px auto;
    padding: 0;

    .app-menu-button {
        display: inline-block;
        width: 30%;
        border: 0;
        margin: 20px;
        padding: 10px;
        background-color: var(--ion-color-primary-contrast);
        color: var(--ion-color-primary);

        ion-icon {
            display: block;
            font-size: 36px;
            text-align: center;
            border: 0;
            margin: 0 auto;
            padding: 10px;
        }

        ion-icon + ion-label {
            overflow: hidden;
            display: block;
            font-size: 11px;
            font-weight: 500;
            height: 40px;
            border: 0;
            margin: 0;
            padding: 5px;
        }
    }
}

/*
* App messages styles
*/
.messages {
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    min-height: 20px;
    padding: 0 15px;
}
.messages .error {
    color: var(--ion-color-danger);
}

/*
* App extra styles
*/
.actions {
    text-align: center;
    ion-button {
        text-transform: uppercase;
        margin: 15px 0;
    }
}

.buttons {
    text-align: center;
    ion-button {
        text-transform: none;
        margin: 5px 0;
    }
}

.label-fixed.sc-ion-label-md-h {
    min-width: 40%;
    max-width: 60%;
}

.required {
    color: red !important;
}

/*
*  Status Styles
*/
.status-pending {
    color: var(--ion-color-warning);
}
.status-process {
    color: var(--ion-color-warning);
}
.status-active {
    color: var(--ion-color-success);
}
.status-enable {
    color: var(--ion-color-success);
}
.status-cancel {
    color: var(--ion-color-danger);
}
.status-disable {
    color: var(--ion-color-danger);
}
.status-error {
    color: var(--ion-color-danger);
}

/*
* Responsive styles
*/
@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
