<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
      <ion-button *ngIf="page.view == 'search' && authPage(page.code + '/create')" (click)="gotoPage(page.code + '/create')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-left" size-xs="12" size-sm="10" size-md="5" size-xl="6">
            {{ page.name | translate }}
          </ion-col>
          <ion-col size-xs="0" size-md="5">
            <ion-item (click)="gotoPage('users/profile')">
              <ion-label class="ion-text-right">
                <b>{{ user.name}}</b>
                <br>
                {{ 'users.values.type.' + user.type | translate}}
              </ion-label>
              <ion-avatar>
                <img [src]="user.image || 'assets/img/item-avatar.png'">
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col size-xs="0" size-sm="2" size-md="2" size-xl="1">
            <img src="assets/img/logo-header.png" alt="{{ page.name | translate }}">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <!--
  -- Search grid
  --
  -- @path: cards/search
  -->
  <app-list #list [view]="views.default" *ngIf="page.view == 'search'">
    <ion-grid fixed class="app-list-grid">
      <ion-row>
        <ion-col size="12">
          {{ page.code + '.search.title' | translate }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="list.list && list.list.length">
        <ion-col size="0.5" class="ion-text-center">
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.userId.label' | translate }}
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.name.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.buyDate.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.number.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.balance.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.type.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.status.label' | translate }}
        </ion-col>
      </ion-row>
      <ion-row (click)="gotoPage('cards/select/:id', {id: item.id})" *ngFor="let item of list.list">
        <ion-col size="0.5" class="ion-text-center">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-col>
        <ion-col>
          {{ item.user?.name }}
        </ion-col>
        <ion-col>
          {{ item.name }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ item.buyDate | amDateFormat:'l' }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ item.number | formatNumber }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          $ {{ item.balance | formatNumber }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.values.type.' + item.type | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.values.status.' + item.status | translate }}
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-row class="app-list-grid-empty" *ngIf="!list.list || !list.list.length">
      <ion-col size="12">
        {{ page.code + '.search.empty' | translate }}
      </ion-col>
    </ion-row>
  </app-list>

  <!--
    -- Create select or Update
    --
    -- @path: cards/create 
    -- @path: cards/select:id
    -- @path: cards/update:id
    -->
  <app-view #view [view]="views.default" *ngIf="page.view == 'select' || page.view == 'create' || page.view == 'update'" [edit]="page.view == 'create' || page.view == 'update'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit()">
      <ion-grid>

        <ion-row class="app-view-header" *ngIf="page.view == 'select'">
          <ion-col size="12">
            <app-item [root]="view" name="name" type="update" color="secondary"></app-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="page.view == 'create' || page.view == 'update'">
          <ion-col size-xs="12">
            <app-item [root]="view" name="name" type="text"></app-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xs="12" size-md="6">
            <h1>{{ page.code + '.groups.group1' | translate }}</h1>

            <app-item-relation [root]="view" name="userId" from="users" iconType="avatar" max="1" min="1" (onChange)="view.form.patchValue({userId: $event.result && $event.result[0] ? $event.result[0].id : ''})">
            </app-item-relation>
            <app-item [root]="view" name="name" type="text" required="true"></app-item>
            <app-item [root]="view" name="number" type="number" required="true"></app-item>
            <app-item [root]="view" name="balance" type="amount" required="true"></app-item>
            <app-item [root]="view" name="type" type="values"></app-item>
          </ion-col>

          <ion-col size-xs="12" size-md="6">
            <h1>{{ page.code + '.groups.group2' | translate }}</h1>

            <app-item [root]="view" name="buyDate" type="date" required="true"></app-item>
            <app-item-image [root]="view" name="image" type="avatar"></app-item-image>
            <app-item-file [root]="view" name="file" type="pdf" ></app-item-file>
            <app-item [root]="view" name="lastBus" type="text" *ngIf="page.view == 'select'"></app-item>
            <app-item [root]="view" name="status" type="values" required="true"></app-item>

          </ion-col>

          <ion-col size-xs="12">
            <app-item [root]="view" name="notes" type="textarea"></app-item>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="authPage(page.code + '/delete/:id') && page.view == 'select'">
          <ion-col size-xs="12">
            <app-item [root]="view" type="delete"></app-item>
          </ion-col>
        </ion-row>

        <ion-row class="actions" *ngIf="page.view == 'create' || page.view == 'update'">
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </app-view>

</ion-content>