<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
      <ion-button *ngIf="page.view == 'search' && authPage(page.code + '/create')" (click)="gotoPage(page.code + '/create')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-left" size-xs="12" size-sm="10" size-md="5" size-xl="6">
            {{ page.name | translate }}
          </ion-col>
          <ion-col size-xs="0" size-md="5" *ngIf="user">
            <ion-item (click)="gotoPage('users/profile')">
              <ion-label class="ion-text-right">
                <b>{{ user.name}}</b>
                <br>
                {{ 'users.values.type.' + user.type | translate}}
              </ion-label>
              <ion-avatar>
                <app-item-image [view]="{entity: 'users'}" [item]="user" name="image" size="small" type="avatar"></app-item-image>
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col size-xs="0" size-sm="2" size-md="2" size-xl="1">
            <img src="assets/img/logo-header.png" alt="{{ page.name | translate }}">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!--
    -- Search
    --
    -- @path: users/search
    -->
  <app-list #list [view]="views.default" *ngIf="page.view == 'search'">
    <!--
    <ion-grid class="app-list-cards">
      <ion-row>
        <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3" *ngFor="let item of list.list">
          <ion-card button (click)="gotoPage(page.code + '/select/:id', {id: item.id})">
            <ion-card-header class="ion-text-nowrap">
              <app-item-image [root]="views.default" name="image" type="avatar" size="small"></app-item-image>
              <p>{{ item.name }}</p>
            </ion-card-header>
            <ion-card-content class="ion-text-nowrap">
              {{ item.email || item.phone || item.username || item.status }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    -->
    <ion-grid fixed class="app-list-grid">
      <ion-row>
        <ion-col size="12">
          {{ page.code + '.search.title' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="list.list && list.list.length">
        <ion-col size="0.5" class="ion-text-center">
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.name.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.country.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.phone.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.email.label' | translate }}
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.balance.label' | translate }}
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.status.label' | translate }}
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of list.list">
        <ion-col size="0.5" class="ion-text-center" (click)="gotoPage('users/select/:id', {id: item.id})">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-col>
        <ion-col>
          {{ item.name }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.values.country.' + item.country | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ item.phone | formatPhone }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          <a href="mailto:{{ item.email | formatEmail }}">{{ item.email | formatEmail }}</a>
        </ion-col>
        <ion-col class="ion-text-right">
          $ {{ item.balance | formatNumber }}
        </ion-col>
        <ion-col class="status-{{item.status}}">
          {{ page.code + '.values.status.' + item.status | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="app-list-grid-empty" *ngIf="!list.list || !list.list.length">
      <ion-col size="12">
        {{ page.code + '.search.empty' | translate }}
      </ion-col>
    </ion-row>
  </app-list>

  <!--
  -- Search grid 
  --
  -- @path: users/owners
  -- @path: users/tenants
  -->
  <app-list #list [view]="views.default" *ngIf="page.view == 'owners' || page.view == 'tenants'" (onLoad)="gridListOnLoad(views.default)">
    <ion-grid fixed class="app-list-grid">
      <ion-row>
        <ion-col size="12">
          {{ page.code + '.search.title' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="list.list && list.list.length">
        <ion-col size="0.5" class="ion-text-center">
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.name.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.country.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.phone.label' | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.fields.email.label' | translate }}
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.balance.label' | translate }}
        </ion-col>
        <ion-col>
          {{ page.code + '.fields.status.label' | translate }}
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of list.list">
        <ion-col size="0.5" class="ion-text-center" (click)="gotoPage('users/select/:id', {id: item.id})">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-col>
        <ion-col>
          {{ item.name }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ page.code + '.values.country.' + item.country | translate }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          {{ item.phone | formatPhone }}
        </ion-col>
        <ion-col class="ion-hide-md-down">
          <a href="mailto:{{ item.email | formatEmail }}">{{ item.email | formatEmail }}</a>
        </ion-col>
        <ion-col class="ion-text-right">
          $ {{ item.balance | formatNumber }}
        </ion-col>
        <ion-col class="status-{{item.status}}">
          {{ page.code + '.values.status.' + item.status | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="app-list-grid-empty" *ngIf="!list.list || !list.list.length">
      <ion-col size="12">
        {{ page.code + '.search.empty' | translate }}
      </ion-col>
    </ion-row>
  </app-list>

  <!--
    -- Select create or Update
    --
    -- @path: users/create or users/update
    -->
  <app-view #view [view]="views.default" *ngIf="page.view == 'select' || page.view == 'create' || page.view == 'update'" [edit]="page.view == 'create' || page.view == 'update'" (onChange)="viewOnChange($event)">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit()">
      <ion-grid>
        <ion-row class="app-view-header" *ngIf="page.view == 'select'">
          <ion-col size="12">
            <app-item [root]="view" name="name" type="update" color="secondary"></app-item>
          </ion-col>
        </ion-row>

        <ion-segment mode="ios" formControlName="section" *ngIf="true || page.view == 'select' && (view.item.type == 'owner' || view.item.type == 'tenant' || view.item.type == 'realtor')" (ionChange)="section=view.form.controls.section.value">
          <ion-segment-button value="main">
            <ion-label>{{ page.code + '.groups.main' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="companies" *ngIf="view.item.type == 'owner'">
            <ion-label>{{ page.code + '.groups.companies' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="propertiesLeases" *ngIf="view.item.type == 'tenant'">
            <ion-label>{{ page.code + '.groups.propertiesLeases' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="propertiesListings" *ngIf="view.item.type == 'realtor'">
            <ion-label>{{ page.code + '.groups.propertiesLeases' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="transactions">
            <ion-label>{{ page.code + '.groups.transactions' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-row *ngIf="view.form.controls.section.value == 'main'">
          <ion-col size-xs="12" size-md="4" push-md="8">
            <h1>{{ page.code + '.groups.picture' | translate }}</h1>
            <app-item-image [root]="view" name="image" type="avatar" size="large"></app-item-image>
          </ion-col>
          <ion-col size-xs="12" size-md="4" pull-md="4">
            <div *ngIf="page.view == 'create' || page.view == 'update'">
              <h1>{{ page.code + '.groups.name' | translate }}</h1>
              <app-item [root]="view" name="firstName" type="text"></app-item>
              <app-item [root]="view" name="lastName" type="text"></app-item>
            </div>
            <h1>{{ page.code + '.groups.user' | translate }}</h1>
            <app-item [root]="view" name="firstName" type="text" required=true></app-item>
            <app-item [root]="view" name="lastName" type="text" required=true></app-item>
            <app-item [root]="view" name="username" type="text"></app-item>
            <app-item [root]="view" name="type" type="values" required=true></app-item>
            <app-item [root]="view" name="language" type="values" required=true></app-item>
            <app-item [root]="view" name="status" type="values" required=true></app-item>
            <div *ngIf="page.view == 'select'">
              <h1>{{ page.code + '.groups.contact' | translate }}</h1>
              <app-item [root]="view" name="phone" type="tel"></app-item>
              <app-item [root]="view" name="email" type="email"></app-item>
            </div>

            <div *ngIf="page.view == 'select' && (view.item.type=='owner' || view.item.type=='tenant')">
              <br><br>
              <app-item [root]="view" name="balance" type="amount" required="true"></app-item>
            </div>

          </ion-col>
          <ion-col size-xs="12" size-md="4" pull-md="4">
            <div *ngIf="page.view == 'create' || page.view == 'update'">
              <h1>{{ page.code + '.groups.contact' | translate }}</h1>
              <app-item [root]="view" name="phone" type="tel"></app-item>
              <app-item [root]="view" name="email" type="email"></app-item>
            </div>
            <h1>{{ page.code + '.groups.residence' | translate }}</h1>
            <app-item [root]="view" name="address" type="text"></app-item>
            <app-item [root]="view" name="unit" type="text"></app-item>
            <app-item [root]="view" name="city" type="text"></app-item>
            <app-item [root]="view" name="state" type="text"></app-item>
            <app-item [root]="view" name="country" type="values" required=true></app-item>
            <app-item [root]="view" name="zipCode" type="text"></app-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="view.form.controls.section.value == 'main'">
          <ion-col size-xs="12">
            <app-item [root]="view" name="notes" type="textarea"></app-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="view.form.controls.section.value == 'companies'">
          <ion-col size="12">
            <app-list #companiesList [view]="views.companies">
              <ion-grid fixed class="app-list-grid">
                <ion-row>
                  <ion-col size="11">
                    {{ 'companies.search.title' | translate }}
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="add" size="medium" (click)="addCompany(view.item)"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="companiesList.list && companiesList.list.length">
                  <ion-col size="0.5" class="ion-text-center">
                  </ion-col>
                  <ion-col>
                    {{ 'companies.fields.name.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'companies.fields.ein.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'companies.fields.status.label' | translate }}
                  </ion-col>
                </ion-row>
                <ion-row (click)="gotoPage('companies/select/:id', {id: item.id})" *ngFor="let item of companiesList.list">
                  <ion-col size="0.5" class="ion-text-center">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-col>
                  <ion-col>
                    {{ item.name }}
                  </ion-col>
                  <ion-col>
                    #{{ item.ean }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down status-{{item.status}}">
                    {{ 'companies.values.status.' + item.status | translate }}
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-row class="app-list-grid-empty" *ngIf="!companiesList.list || !companiesList.list.length">
                <ion-col size="12">
                  {{ 'companies.search.empty' | translate }}
                </ion-col>
              </ion-row>

            </app-list>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="view.form.controls.section.value == 'propertiesLeases'">
          <ion-col size="12">
            <app-list #propertiesLeasesList [view]="views.propertiesLeases">
              <ion-grid fixed class="app-list-grid">
                <ion-row>
                  <ion-col size="11">
                    {{ 'propertiesLeases.search.title' | translate }}
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="add" size="medium" (click)="addPropertyLease(view.item)"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="propertiesLeasesList.list && propertiesLeasesList.list.length">
                  <ion-col size="0.5" class="ion-text-center">
                  </ion-col>
                  <ion-col>
                    {{ 'propertiesLeases.fields.propertyId.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesLeases.fields.startDate.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesLeases.fields.finishDate.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'propertiesLeases.fields.dueDate.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesLeases.fields.rentAmount.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesLeases.fields.type.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'propertiesLeases.fields.status.label' | translate }}
                  </ion-col>
                </ion-row>
                <ion-row (click)="gotoPage('propertiesLeases/select/:id', {id: item.id})" *ngFor="let item of propertiesLeasesList.list">
                  <ion-col size="0.5" class="ion-text-center">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-col>
                  <ion-col>
                    {{ item.property.name }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ item.startDate | amDateFormat:'l' }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ item.finishDate | amDateFormat:'l' }}
                  </ion-col>
                  <ion-col>
                    {{ item.dueDate | formatNumber }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesLeases.values.type.' + item.type | translate }}
                  </ion-col>
                  <ion-col class="status-{{item.status}}">
                    {{ 'propertiesLeases.values.status.' + item.status | translate }}
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-row class="app-list-grid-empty" *ngIf="!propertiesLeasesList.list || !propertiesLeasesList.list.length">
                <ion-col size="12">
                  {{ 'propertiesLeases.search.empty' | translate }}
                </ion-col>
              </ion-row>

            </app-list>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="view.form.controls.section.value == 'propertiesListings'">
          <ion-col size="12">
            <app-list #propertiesListingsList [view]="views.propertiesListings">
              <ion-grid fixed class="app-list-grid">
                <ion-row>
                  <ion-col size="11">
                    {{ 'propertiesListings.search.title' | translate }}
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="add" size="medium" (click)="addPropertyListing(view.item)"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="propertiesListingsList.list && propertiesListingsList.list.length">
                  <ion-col size="0.5" class="ion-text-center">
                  </ion-col>
                  <ion-col>
                    {{ 'propertiesListings.fields.propertyId.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesListings.fields.startDate.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesListings.fields.finishDate.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'propertiesListings.fields.dueDate.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesListings.fields.rentAmount.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesListings.fields.type.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'propertiesListings.fields.status.label' | translate }}
                  </ion-col>
                </ion-row>
                <ion-row (click)="gotoPage('propertiesListings/select/:id', {id: item.id})" *ngFor="let item of propertiesListingsList.list">
                  <ion-col size="0.5" class="ion-text-center">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-col>
                  <ion-col>
                    {{ item.property.name }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ item.startDate | amDateFormat:'l' }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ item.finishDate | amDateFormat:'l' }}
                  </ion-col>
                  <ion-col>
                    {{ item.dueDate | formatNumber }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'propertiesListings.values.type.' + item.type | translate }}
                  </ion-col>
                  <ion-col class="status-{{item.status}}">
                    {{ 'propertiesListings.values.status.' + item.status | translate }}
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-row class="app-list-grid-empty" *ngIf="!propertiesListingsList.list || !propertiesListingsList.list.length">
                <ion-col size="12">
                  {{ 'propertiesListings.search.empty' | translate }}
                </ion-col>
              </ion-row>

            </app-list>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="view.form.controls.section.value == 'transactions'">
          <ion-col size="12">
            <app-list #transactionsList [view]="views.transactions">
              <ion-grid fixed class="app-list-grid">
                <ion-row>
                  <ion-col size="11">
                    {{ 'transactions.search.title' | translate }} -
                    {{ 'transactions.fields.balance.label' | translate }}:
                    $ {{ view.item.balance | formatNumber }}
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="add" size="medium" (click)="addTransaction(view.item)"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="transactionsList.list && transactionsList.list.length">
                  <ion-col size="0.5" class="ion-text-center">
                  </ion-col>
                  <ion-col>
                    {{ 'transactions.fields.datetime.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'transactions.fields.number.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'transactions.fields.transactionTypeId.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'transactions.fields.name.label' | translate }}
                  </ion-col>
                  <ion-col>
                    {{ 'transactions.fields.amount.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'transactions.fields.balance.label' | translate }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ 'transactions.fields.status.label' | translate }}
                  </ion-col>
                </ion-row>
                <ion-row (click)="gotoPage('transactions/select/:id', {id: item.id})" *ngFor="let item of transactionsList.list">
                  <ion-col size="0.5" class="ion-text-center">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-col>
                  <ion-col>
                    {{ item.datetime | amDateFormat:'l' }}
                  </ion-col>
                  <ion-col>
                    {{ item.number }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ item.transactionType.name }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down">
                    {{ item.name }}
                  </ion-col>
                  <ion-col class="ion-text-right ion-text-right">
                    $ {{ item.amount | formatNumber }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down ion-text-right">
                    $ {{ item.balance | formatNumber }}
                  </ion-col>
                  <ion-col class="ion-hide-md-down status-{{item.status}}">
                    {{ 'transactions.values.status.' + item.status | translate }}
                  </ion-col>
                  <ion-col size="10" offset="2">
                    <i>{{ item.notes }}</i>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-row class="app-list-grid-empty" *ngIf="!transactionsList.list || !transactionsList.list.length">
                <ion-col size="12">
                  {{ 'transactions.search.empty' | translate }}
                </ion-col>
              </ion-row>

            </app-list>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="authPage(page.code + '/delete/:id') && page.view == 'select' && view.form.controls.section.value == 'main'">
          <ion-col size-xs="12">
            <app-item [root]="view" type="delete"></app-item>
          </ion-col>
        </ion-row>

        <ion-row class="actions" *ngIf="page.view == 'create' || page.view == 'update'">
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Profile
    --
    -- @path: users/profile
    -->
  <app-view #view [view]="views.default" [item]="user" *ngIf="page.view == 'profile'">
    <form *ngIf="view.item">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="5" size-md="4">
            <app-item-image [root]="view" name="image" type="avatar" size="large" [edit]="true"></app-item-image>
          </ion-col>
          <ion-col size-xs="12" size-sm="7" size-md="8">
            <app-item [root]="view" name="name" type="update"></app-item>
            <ion-grid>
              <ion-row>
                <ion-col size-xs="12" size-md="6">
                  <app-item [root]="view" name="phone" type="phone"></app-item>
                </ion-col>
                <ion-col size-xs="12" size-md="6">
                  <app-item [root]="view" name="email" type="email"></app-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12">
                  <ion-item lines="full" button detail detailIcon="create" (click)="gotoPage(page.code + '/profileChangeName')">
                    <ion-label class="ion-text-wrap">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <h3>{{ page.code + '.' + page.view + '.fields.name.label' | translate }}</h3>
                          </ion-col>
                          <ion-col size-sm="8" size-xs="12" class="ion-no-padding">
                            <p [class]="!view.item.name ? 'mute' : null">
                              {{ (view.item.name | formatText) || (page.code + '.' + page.view + '.fields.name.empty' | translate) }}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full" button detail detailIcon="create" (click)="gotoPage(page.code + '/profileChangePhone')">
                    <ion-label class="ion-text-wrap">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <h3>{{ page.code + '.' + page.view + '.fields.phone.label' | translate }}</h3>
                          </ion-col>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <p [class]="!view.item.phone ? 'mute' : null">
                              {{ (view.item.phone | formatPhone) || (page.code + '.' + page.view + '.fields.phone.empty' | translate) }}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full" button detail detailIcon="create" (click)="gotoPage(page.code + '/profileChangeEmail')">
                    <ion-label class="ion-text-wrap">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <h3>{{ page.code + '.' + page.view + '.fields.email.label' | translate }}</h3>
                          </ion-col>
                          <ion-col size-sm="8" size-xs="12" class="ion-no-padding">
                            <p [class]="!view.item.email ? 'mute' : null">
                              {{ (view.item.email | formatEmail) || (page.code + '.' + page.view + '.fields.email.empty' | translate) }}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full" button detail detailIcon="create" (click)="gotoPage(page.code + '/profileChangeUsername')">
                    <ion-label class="ion-text-wrap">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <h3>{{ page.code + '.' + page.view + '.fields.username.label' | translate }}</h3>
                          </ion-col>
                          <ion-col size-sm="8" size-xs="12" class="ion-no-padding">
                            <p [class]="!view.item.username ? 'mute' : null">
                              {{ (view.item.username | formatText) || (page.code + '.' + page.view + '.fields.username.empty' | translate) }}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full" button detail detailIcon="create" (click)="gotoPage(page.code + '/profileChangePassword')">
                    <ion-label class="ion-text-wrap">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <h3>{{ page.code + '.' + page.view + '.fields.password.label' | translate }}</h3>
                          </ion-col>
                          <ion-col size-sm="8" size-xs="12" class="ion-no-padding">
                            <p [class]="!view.item.password ? 'mute' : null">
                              {{ (view.item.password | formatText) || (page.code + '.' + page.view + '.fields.password.empty' | translate) }}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full" button detail (click)="gotoPage(page.code + '/signout')">
                    <ion-label class="ion-text-wrap">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-sm="4" size-xs="12" class="ion-no-padding">
                            <h3>{{ page.code + '.profile.signout' | translate }}</h3>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Profile change name
    --
    -- @path: users/profileChangeName
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'profileChangeName'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/profile'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.name.label' | translate }}
              </ion-label>
              <ion-input type="text" formControlName="name" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.name.errors?.required && (view.form.controls.name.dirty || view.form.controls.name.touched)">
                {{ page.code + '.' + page.view + '.fields.name.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.name.errors?.pattern && (view.form.controls.name.dirty || view.form.controls.name.touched)">
                {{ page.code + '.' + page.view + '.fields.name.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.name.errors || (!view.form.controls.name.dirty && !view.form.controls.name.touched)">
                {{ page.code + '.' + page.view + '.fields.name.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
            <ion-button expand="block" color="light" (click)="view.cancel()">
              {{ page.code + '.' + page.view + '.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Profile change phone
    --
    -- @path: users/profileChangePhone
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'profileChangePhone'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/profile'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.phone.label' | translate }}
              </ion-label>
              <ion-input type="tel" formControlName="phone"></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.phone.errors?.required && (view.form.controls.phone.dirty || view.form.controls.phone.touched)">
                {{ page.code + '.' + page.view + '.fields.phone.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.phone.errors?.pattern && (view.form.controls.phone.dirty || view.form.controls.phone.touched)">
                {{ page.code + '.' + page.view + '.fields.phone.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.phone.errors || (!view.form.controls.phone.dirty && !view.form.controls.phone.touched)">
                {{ page.code + '.' + page.view + '.fields.phone.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.label' | translate }}</ion-label>
              <ion-input [type]="view.item.showVerifyPassword ? 'text' : 'password'" formControlName="verifyPassword" required></ion-input>
              <ion-icon (click)="view.item.showVerifyPassword = !view.item.showVerifyPassword" [name]="view.item.showVerifyPassword ? 'eye-off' : 'eye'" slot="end" size="small"></ion-icon>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.required && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.pattern && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.verifyPassword.errors || (!view.form.controls.verifyPassword.dirty && !view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
            <ion-button expand="block" color="light" (click)="view.cancel()">
              {{ page.code + '.' + page.view + '.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Profile change email
    --
    -- @path: users/profileChangeEmail
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'profileChangeEmail'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/profile'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.email.label' | translate }}
              </ion-label>
              <ion-input type="email" formControlName="email" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.email.errors?.required && (view.form.controls.email.dirty || view.form.controls.email.touched)">
                {{ page.code + '.' + page.view + '.fields.email.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.email.errors?.pattern && (view.form.controls.email.dirty || view.form.controls.email.touched)">
                {{ page.code + '.' + page.view + '.fields.email.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.email.errors || (!view.form.controls.email.dirty && !view.form.controls.email.touched)">
                {{ page.code + '.' + page.view + '.fields.email.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.label' | translate }}</ion-label>
              <ion-input [type]="view.item.showVerifyPassword ? 'text' : 'password'" formControlName="verifyPassword" required></ion-input>
              <ion-icon (click)="view.item.showVerifyPassword = !view.item.showVerifyPassword" [name]="view.item.showVerifyPassword ? 'eye-off' : 'eye'" slot="end" size="small"></ion-icon>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.required && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.pattern && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.verifyPassword.errors || (!view.form.controls.verifyPassword.dirty && !view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
            <ion-button expand="block" color="light" (click)="view.cancel()">
              {{ page.code + '.' + page.view + '.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Profile change username
    --
    -- @path: users/profileChangeUsername
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'profileChangeUsername'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/profile'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.username.label' | translate }}
              </ion-label>
              <ion-input type="text" formControlName="username" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.username.errors?.required && (view.form.controls.username.dirty || view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.username.errors?.pattern && (view.form.controls.username.dirty || view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.username.errors || (!view.form.controls.username.dirty && !view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.label' | translate }}</ion-label>
              <ion-input [type]="view.item.showVerifyPassword ? 'text' : 'password'" formControlName="verifyPassword" required></ion-input>
              <ion-icon (click)="view.item.showVerifyPassword = !view.item.showVerifyPassword" [name]="view.item.showVerifyPassword ? 'eye-off' : 'eye'" slot="end" size="small"></ion-icon>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.required && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.pattern && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.verifyPassword.errors || (!view.form.controls.verifyPassword.dirty && !view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
            <ion-button expand="block" color="light" (click)="view.cancel()">
              {{ page.code + '.' + page.view + '.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Profile change password
    --
    -- @path: users/profileChangePassword
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'profileChangePassword'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/profile'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.password.label' | translate }}
              </ion-label>
              <ion-input [type]="view.item.showPassword ? 'text' : 'password'" formControlName="password" required>
              </ion-input>
              <ion-icon (click)="view.item.showPassword = !view.item.showPassword" [name]="view.item.showPassword ? 'eye-off' : 'eye'" slot="end" size="small"></ion-icon>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.password.errors?.required && (view.form.controls.password.dirty || view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.password.errors?.pattern && (view.form.controls.password.dirty || view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.password.errors || (!view.form.controls.password.dirty && !view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.label' | translate }}</ion-label>
              <ion-input [type]="view.item.showVerifyPassword ? 'text' : 'password'" formControlName="verifyPassword" required></ion-input>
              <ion-icon (click)="view.item.showVerifyPassword = !view.item.showVerifyPassword" [name]="view.item.showVerifyPassword ? 'eye-off' : 'eye'" slot="end" size="small"></ion-icon>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.required && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.verifyPassword.errors?.pattern && (view.form.controls.verifyPassword.dirty || view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.verifyPassword.errors || (!view.form.controls.verifyPassword.dirty && !view.form.controls.verifyPassword.touched)">
                {{ page.code + '.' + page.view + '.fields.verifyPassword.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
            <ion-button expand="block" color="light" (click)="view.cancel()">
              {{ page.code + '.' + page.view + '.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Signout
    --
    -- @path: users/signout
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'signout'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit()">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-text color="danger" [innerHTML]="page.code + '.signout.legend' | translate:view.item"></ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
            <ion-button expand="block" color="light" (click)="view.cancel()">
              {{ page.code + '.' + page.view + '.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Signin
    --
    -- @path: users/signin
    -->
  <app-view #view [view]="views[page.view]" [item]="user" size="small" *ngIf="page.view == 'signin'" class="app-signin" style="margin:auto;margin-top:10%">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit()">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.username.label' | translate }}
              </ion-label>
              <ion-input type="text" formControlName="username" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.username.errors?.required && (view.form.controls.username.dirty || view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.username.errors?.pattern && (view.form.controls.username.dirty || view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.username.errors || (!view.form.controls.username.dirty && !view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.dirty' | translate }}
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.password.label' | translate }}
              </ion-label>
              <ion-input [type]="view.item.showPassword ? 'text' : 'password'" formControlName="password" required>
              </ion-input>
              <ion-button slot="end" fill="clean" (click)="view.item.showPassword = !view.item.showPassword">
                <ion-icon [name]="view.item.showPassword ? 'eye-off' : 'eye'"></ion-icon>
              </ion-button>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.password.errors?.required && (view.form.controls.password.dirty || view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.password.errors?.pattern && (view.form.controls.password.dirty || view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.password.errors || (!view.form.controls.password.dirty && !view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="buttons">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" fill="clean" *ngIf="authPage(page.code + '/forgot')" (click)="gotoPage(page.code + '/forgot')">
              {{ page.code + '.' + page.view + '.forgot' | translate }}
            </ion-button>
            <ion-button expand="block" fill="clean" *ngIf="authPage(page.code + '/signup')" (click)="gotoPage(page.code + '/signup')">
              {{ page.code + '.' + page.view + '.signup' | translate }}
            </ion-button>
            <ion-button expand="block" fill="clean" (click)="gotoHome()">
              {{ page.code + '.' + page.view + '.gohome' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Signup
    --
    -- @path: users/signup
    -->
  <app-view #view [view]="views[page.view]" [item]="user" size="small" *ngIf="page.view == 'signup'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/signup'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.name.label' | translate }}
              </ion-label>
              <ion-input type="text" formControlName="name" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.name.errors?.required && (view.form.controls.name.dirty || view.form.controls.name.touched)">
                {{ page.code + '.' + page.view + '.fields.name.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.name.errors?.pattern && (view.form.controls.name.dirty || view.form.controls.name.touched)">
                {{ page.code + '.' + page.view + '.fields.name.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.name.errors || (!view.form.controls.name.dirty && !view.form.controls.name.touched)">
                {{ page.code + '.' + page.view + '.fields.name.dirty' | translate }}
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.email.label' | translate }}
              </ion-label>
              <ion-input type="text" formControlName="email" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.email.errors?.required && (view.form.controls.email.dirty || view.form.controls.email.touched)">
                {{ page.code + '.' + page.view + '.fields.email.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.email.errors?.pattern && (view.form.controls.email.dirty || view.form.controls.email.touched)">
                {{ page.code + '.' + page.view + '.fields.email.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.email.errors || (!view.form.controls.email.dirty && !view.form.controls.email.touched)">
                {{ page.code + '.' + page.view + '.fields.email.dirty' | translate }}
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.password.label' | translate }}
              </ion-label>
              <ion-input [type]="view.item.showPassword ? 'text' : 'password'" formControlName="password" required>
              </ion-input>
              <ion-button slot="end" fill="clean" (click)="view.item.showPassword = !view.item.showPassword">
                <ion-icon [name]="view.item.showPassword ? 'eye-off' : 'eye'"></ion-icon>
              </ion-button>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.password.errors?.required && (view.form.controls.password.dirty || view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.password.errors?.pattern && (view.form.controls.password.dirty || view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.password.errors || (!view.form.controls.password.dirty && !view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.password.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="buttons">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" fill="clean" (click)="gotoPage(page.code + '/signin')">
              {{ page.code + '.' + page.view + '.signin' | translate }}
            </ion-button>
            <ion-button expand="block" fill="clean" (click)="gotoHome()">
              {{ page.code + '.' + page.view + '.gohome' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Forgot
    --
    -- @path: users/forgot
    -->
  <app-view #view [view]="views[page.view]" [item]="user" size="small" *ngIf="page.view == 'forgot'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/forgot'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.username.label' | translate }}
              </ion-label>
              <ion-input type="text" formControlName="username" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.username.errors?.required && (view.form.controls.username.dirty || view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.username.errors?.pattern && (view.form.controls.username.dirty || view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.username.errors || (!view.form.controls.username.dirty && !view.form.controls.username.touched)">
                {{ page.code + '.' + page.view + '.fields.username.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="buttons">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" fill="clean" (click)="gotoPage(page.code + '/signin')">
              {{ page.code + '.' + page.view + '.signin' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

  <!--
    -- Verify
    --
    -- @path: users/verify
    -->
  <app-view #view [view]="views[page.view]" [item]="user" *ngIf="page.view == 'verify'">
    <form *ngIf="view.form" [formGroup]="view.form" (ngSubmit)="view.submit({url: '/api/users/user/verify'})">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="6">
            <ion-item>
              <ion-label position="stacked">{{ page.code + '.' + page.view + '.fields.recovery.label' | translate }}
              </ion-label>
              <ion-input type="tel" formControlName="recovery" required></ion-input>
            </ion-item>
            <div class="messages">
              <div class="error" *ngIf="view.form.controls.recovery.errors?.required && (view.form.controls.recovery.dirty || view.form.controls.recovery.touched)">
                {{ page.code + '.' + page.view + '.fields.recovery.required' | translate }}
              </div>
              <div class="error" *ngIf="view.form.controls.recovery.errors?.pattern && (view.form.controls.recovery.dirty || view.form.controls.recovery.touched)">
                {{ page.code + '.' + page.view + '.fields.recovery.invalid' | translate }}
              </div>
              <div class="dirty" *ngIf="!view.form.controls.recovery.errors || (!view.form.controls.recovery.dirty && !view.form.controls.password.touched)">
                {{ page.code + '.' + page.view + '.fields.recovery.dirty' | translate }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="actions">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button expand="block" strong="true" type="submit" [disabled]="!view.form.valid">
              {{ page.code + '.' + page.view + '.submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-view>

</ion-content>