<div class="app-item-realation-modal" *ngIf="view && view.entity && modal" style="position: absolute; width: 100%; height: 100%;">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{ view.entity + '.fields.' + name + '.label' | translate }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="hideModalCancel();gotoPage(from + '/create', { entityName: view.entity, fieldName: name });" *ngIf="authPage(from + '/create')">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button (click)="hideModalUpdate()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
        <ion-button (click)="hideModalCancel()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="list && list.length != 0">
      <ion-chip *ngFor="let item of list" (click)="deleteItem(item)">
        <app-item-image [view]="view" [item]="item" [name]="iconName" [size]="iconSize" [type]="iconType" *ngIf="iconType"></app-item-image>
        <ion-label>
          <h4>{{ item.name || item.text || item.title || item.notes }}</h4>
        </ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </div>
    <app-list #slist [view]="{entity: from, where: filter, search: {queryField: 'name',orderField: 'name',order: 'asc'}}" mode="relation">
      <ion-list lines="full" *ngIf="slist.list" mode="relation">
        <ion-item button detail *ngFor="let item of slist.list" detailIcon="checkmark" (click)="selectItem(item)">
          <app-item-image [view]="view" [item]="item" [name]="iconName" [size]="iconSize" [type]="iconType" *ngIf="iconType"></app-item-image>
          <ion-label>
            <h3>{{ item.name || item.text || item.title || item.notes }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </app-list>
  </ion-content>
</div>

<div class="app-item-realation-container" *ngIf="view && view.entity && !modal">
  <!--
  <ion-item *ngIf="type == 'update'" [button]="authPage(view.entity + '/update/:id')" [detail]="authPage(view.entity + '/update/:id')" detailIcon="create" (click)="authPage(view.entity + '/update/:id') ? showModal() : null" [color]="color" lines="none">
    <ion-label>
      <h3>{{ view.entity + '.fields.' + name + '.label' | translate }}</h3>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="type == 'create'" [button]="authPage(from + '/create')" [detail]="authPage(from + '/create')" detailIcon="add" (click)="authPage(from + '/create') ? gotoPage(from + '/create', item) : null" [color]="color" lines="none">
    <ion-label>
      <h3>{{ view.entity + '.fields.' + name + '.label' | translate }}</h3>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="!type" [color]="color" lines="none">
    <ion-label>
      <h3>{{ view.entity + '.fields.' + name + '.label' | translate }}</h3>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="!list || list.length == 0" [color]="color" lines="none">
    <ion-label>
      <p class="mute">{{ 'page.fields.empty' | translate }}</p>
    </ion-label>
  </ion-item>
  -->
  <ion-item *ngIf="edit || type == 'update'" [button]="authPage(from + '/update/:id')" [detail]="authPage(view.entity + '/update/:id')" detailIcon="create" (click)="authPage(view.entity + '/update/:id') ? showModal() : null" [color]="color" lines="none">
    <ion-label position="fixed" [class]="required ? 'required' : ''">
      {{ view.entity + '.fields.' + name + '.label' | translate }}
    </ion-label>
    <p *ngFor="let item of list" (click)="authPage(from + '/select/:id') ? gotoPage(from + '/select/:id', {id: item.id}) : null">{{ item.name || item.text || item.title || item.notes }}</p>
    <p *ngIf="!list || list.length == 0" class="mute">{{ 'page.fields.empty' | translate }}</p>
    <app-item-image [view]="view" [item]="item" [name]="iconName" [size]="iconSize" [type]="iconType"></app-item-image>
  </ion-item>

  <ion-item *ngIf="type == 'create'" [button]="authPage(from + '/create')" [detail]="authPage(from + '/create')" detailIcon="add" (click)="authPage(from + '/create') ? gotoPage(from + '/create', {_relation: view, _relation_name: name }) : null" [color]="color" lines="none">
    <ion-label position="fixed" [class]="required ? 'required' : ''">
      {{ view.entity + '.fields.' + name + '.label' | translate }}
    </ion-label>
    <p *ngFor="let item of list" (click)="authPage(from + '/select/:id') ? gotoPage(from + '/select/:id', {id: item.id}) : null">{{ item.name || item.text || item.title || item.notes }}</p>
    <p *ngIf="!list || list.length == 0" class="mute">{{ 'page.fields.empty' | translate }}</p>
    <app-item-image [view]="view" [item]="item" [name]="iconName" [size]="iconSize" [type]="iconType"></app-item-image>
  </ion-item>

  <!-- MAX TODO: se toma el primer elemento nomas  agregar el stop ptopagation-->
  <ion-item *ngIf="!edit && (!type || type == 'select')" [button]="authPage(from + '/select/:id') && list && list.length > 0" detail="authPage(from + '/select/:id') && list && list.length > 0" (click)="authPage(from + '/select/:id') && list && list.length > 0 ? gotoPage(from + '/select/:id', {id: item[name]}) : null" [color]="color" lines="none">
    <ion-label position="fixed">
      {{ view.entity + '.fields.' + name + '.label' | translate }}
    </ion-label>
    <p *ngFor="let item of list" (click)="authPage(from + '/select/:id') ? gotoPage(from + '/select/:id', {id: item.id}) : null">{{ item.name || item.text || item.title || item.notes }}</p>
    <p *ngIf="!list || list.length == 0" class="mute">{{ 'page.fields.empty' | translate }}</p>
    <app-item-image [view]="view" [item]="item" [name]="iconName" [size]="iconSize" [type]="iconType"></app-item-image>
  </ion-item>
</div>