
<div class="app-item-file-container" *ngIf="!edit">
  <ion-label position="fixed" *ngIf="label">{{ view.entity + '.fields.' + name + '.label' | translate }}</ion-label>
  <ion-thumbnail [slot]="slot" (click)="makeFileUrl()">
    <img src="assets/img/pdf.png">
  </ion-thumbnail>
</div>

<div class="app-item-file-container" *ngIf="edit">
  <ion-label position="fixed" *ngIf="label" [class]="required ? 'required' : ''">{{ view.entity + '.fields.' + name + '.label' | translate }}</ion-label>
  <div class="app-item-file-content" [style.background-image]="'url(\'assets/img/pdf.png\')'"  (click)="makeFileUrl()">
    <div class="app-item-file-button update" *ngIf="edit && view && view.entity && authPage(view.entity + '/update/:id') && value == null" (click)="upload()">
      <ion-icon name="cloud-upload"></ion-icon>
    </div>
    <div class="app-item-file-button remove" *ngIf="edit && view && view.entity && authPage(view.entity + '/update/:id') && value != null" (click)="remove()">
      <ion-icon name="trash"></ion-icon>
    </div>
  </div>
</div>
