<ion-refresher (ionRefresh)="search($event)" slot="fixed" *ngIf="view && view.entity">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<div class="app-content" *ngIf="view && view.entity && view.search && view.search.queryField">
  <ion-grid class="app-list-filters">
    <ion-row>
      <ion-col size-xs="12" size-md="6" size-lg="4" class="app-list-searchbar" *ngIf="mode != 'relation'">
        <ion-searchbar animated (ionChange)="search($event)" [(ngModel)]="data.query" placeholder="{{ view.entity + '.search.input' | translate }}"></ion-searchbar>
      </ion-col>
      <ion-col size="12" class="app-list-searchbar" *ngIf="mode == 'relation'">
        <ion-searchbar animated (ionChange)="search($event)" [(ngModel)]="data.query" placeholder="{{ view.entity + '.search.input' | translate }}"></ion-searchbar>
      </ion-col>
      <ion-col class="ion-hide-md-down" *ngIf="mode != 'relation'"></ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1.5" class="app-list-filter" *ngFor="let field of ( fields | filterBy: { filter: true })">
        <ion-select [(ngModel)]="data.where[field.name]" (ngModelChange)="search();" interface="popover" placeholder="{{ view.entity + '.fields.' + field.name + '.label' | translate }} ..." okText="{{ 'page.fields.selectSubmit' | translate }}" cancelText="{{ 'page.fields.selectCancel' | translate }}">
          <ion-select-option [value]="null">All</ion-select-option>
          <ion-select-option *ngFor="let value of field.match" [value]="value">
            {{ (view.entity + '.values.' + field.name + '.' + value) | translate }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="ion-hide-md-down" *ngIf="mode != 'relation'"></ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="app-content app-list-container">
  <ng-content></ng-content>
  <ion-infinite-scroll (ionInfinite)="search($event)" *ngIf="view && view.entity">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>