
<div class="app-item-position-modal" *ngIf="view && view.entity && modal" style="position: absolute; width: 100%; height: 100%;">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{ view.entity + '.fields.' + name + '.label' | translate }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="'loadCurrentPosition()'">
          <ion-icon slot="icon-only" name="locate"></ion-icon>
        </ion-button>
        <ion-button (click)="hideModalUpdate()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
        <ion-button (click)="hideModalCancel()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div style="position: absolute; width: 100%; z-index: 1;" *ngIf="authPage(view.entity + '/update/:id')">
      <ion-searchbar [(ngModel)]="address1" (search)="findCurrentPosition($event)"></ion-searchbar>
    </div>
    <div style="position: absolute; width: 100%; height: 100%;" #mapElement></div>
  </ion-content>
</div>

<div class="app-item-position-container" *ngIf="view && view.entity && !modal">
  <ion-item lines="full" [button]="authPage(view.entity + '/update/:id')" [detail]="authPage(view.entity + '/update/:id')" detailIcon="create" (click)="authPage(view.entity + '/update/:id') ? showModal({view: view, name: name}) : null">
    <ion-label *ngIf="label" [class]="required ? 'required' : ''">
      <h3>{{ view.entity + '.fields.' + name + '.label' | translate }}</h3>
    </ion-label>
  </ion-item>
  <ion-item lines="full" *ngIf="!item[name]">
    <ion-label>
      <p class="mute">{{ view.entity + '.fields.' + name + '.empty' | translate }}</p>
    </ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="item[name]">
    <img [src]="'https://maps.googleapis.com/maps/api/staticmap?&zoom=10&size=750x200&maptype=roadmap&markers=color:red%7C' + item[name].coordinates[0] + ',' +  item[name].coordinates[1] + '&key=AIzaSyBL3c0Q_sun_c9pwSEALkCPDr-l_ti7jLU'">
  </ion-item>
  <ion-item lines="full" *ngIf="item[name]">
    <ion-label>
      <p>{{ (item.address2 | formatAddress) || (item.address1 | formatAddress) || (item[name] | formatPosition) }}</p>
    </ion-label>
  </ion-item>
</div>
