<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
      <!--
      <ion-button *ngIf="authPage('users/signin')" (click)="gotoPage('users/signin')">
        <ion-label>{{ 'users.signin.title' | translate }}</ion-label>
      </ion-button>
      <ion-button *ngIf="authPage('users/signup')" (click)="gotoPage('users/signup')" class="ion-hide-sm-down">
        <ion-label>{{ 'users.signup.title' | translate }}</ion-label>
      </ion-button>
      -->
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-left" size-xs="12" size-sm="10" size-md="5" size-xl="6">
            {{ page.name | translate }}
          </ion-col>
          <ion-col size-xs="0" size-md="5" *ngIf="user">
            <ion-item (click)="gotoPage('users/profile')">
              <ion-label class="ion-text-right">
                <b>{{ user.name}}</b>
                <br>
                {{ 'users.values.type.' + user.type | translate}}
              </ion-label>
              <ion-avatar>
                <app-item-image [view]="{entity: 'users'}" [item]="user" name="image" size="small" type="avatar">
                </app-item-image>
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col size-xs="0" size-sm="2" size-md="2" size-xl="1">
            <img src="assets/img/logo-header.png" alt="{{ page.name | translate }}">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!--
    -- Dashboard
    --
    -- @path: home
    -->
  <div *ngIf="page.view == 'dashboard'">

    <ion-grid fixed class="app-list-grid ion-padding-end">
      <ion-row>

        <ion-col size=4>
          <ion-card class="app-home-dashboard">
            <ion-card-header>
              Grafico 1
            </ion-card-header>
            <ion-card-content>
              <canvas #graph1></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card class="app-home-dashboard">
            <ion-card-header>
              Grafico 2
            </ion-card-header>
            <ion-card-content>
              <canvas #graph2></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=4 >
          <ion-card class="app-home-dashboard">
            <ion-card-header>
              Grafico 3
            </ion-card-header>
            <ion-card-content>
              <canvas #graph3></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>