<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" type="overlay" menuId="main-menu" contentId="main-content" [disabled]="!user">
      <ion-header>
        <ion-item *ngIf="user" class="ion-hide-md-up ion-padding" (click)="pageService.gotoPage('users/profile')">
          <ion-avatar>
            <img [src]="user.image || 'assets/img/item-avatar.png'">
          </ion-avatar>
          <ion-label>
            <b>{{ user.name}}</b>
            <br>
            {{ 'users.values.type.' + user.type | translate}}
          </ion-label>
        </ion-item>
        <ion-toolbar *ngIf="user" class="ion-padding">
          <ion-item routerDirection="root" routerLink="/home/dashboard" routerLinkActive="active">
            <ion-icon slot="start" size="medium" name="apps"></ion-icon>
            <ion-label>{{ 'home.dashboard.title' | translate }}</ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let m of menu">
            <ion-item [routerDirection]="'root'" [routerLink]="['/' + m.path]" routerLinkActive="active">
              <ion-icon slot="start" size="small" [name]="m.icon"></ion-icon>
              <ion-label>{{ m.name | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer *ngIf="config.page.enableVersion || config.page.enableDark">
        <ion-item *ngIf="config.page.enableVersion" lines="full" class="ion-text-center">
          <ion-label>
            <small>{{ config.page.title }} v{{ config.page.version }}</small>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="config.page.enableDark" lines="none">
          <ion-icon slot="start" size="small" name="moon"></ion-icon>
          <ion-label>{{ 'page.fields.toggleDark' | translate }}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="dark" (ionChange)="toggleDark($event.detail.checked)"></ion-toggle>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>