<ion-item lines="none" *ngIf="!edit && type == 'update'" [button]="authPage(view.entity + '/update/:id')" [detail]="authPage(view.entity + '/update/:id')" detailIcon="create" (click)="authPage(view.entity + '/update/:id') ? gotoPage(view.entity + '/update/:id', {id: item.id}) : null" [color]="color">
  <ion-label class="ion-text-wrap">
    <h2>{{ value }}</h2>
  </ion-label>
</ion-item>

<ion-item lines="none" *ngIf="type == 'delete'" [button]="authPage(view.entity + '/delete/:id')" [detail]="authPage(view.entity + '/delete/:id')" detailIcon="trash" (click)="authPage(view.entity + '/delete/:id') ? root.remove() : null" style="--detail-icon-color: var(--ion-color-danger)">
  <ion-label class="ion-text-wrap" color="danger">
    <h3>{{ view.entity + '.delete.title' | translate }}</h3>
  </ion-label>
</ion-item>

<ion-item lines="none" *ngIf="!edit && type != 'update' && type != 'delete'" [color]="color">
  <ion-label position="fixed" *ngIf="label">{{ view.entity + '.fields.' + name + '.label' | translate }}</ion-label>
  <p *ngIf="!value" class="mute">{{ 'page.fields.empty' | translate }}</p>
  <!--
  <p *ngIf="!value" class="mute">{{ view.entity + '.fields.' + name + '.empty' | translate }}</p>
  -->
  <p *ngIf="value && !type">{{ value }}</p>
  <p *ngIf="value && type == 'tel'">{{ value | formatPhone }}</p>
  <p *ngIf="value && type == 'email'"><a [href]="'mailto:' + value">{{ value | formatEmail }}</a></p>
  <p *ngIf="value && type == 'url'"><a [href]="value">{{ value | formatLink }}</a></p>
  <p *ngIf="value && type == 'text'">{{ value | formatText }}</p>
  <p *ngIf="value && type == 'date'">{{ value | amDateFormat:'ll' }}</p>
  <p *ngIf="value && type == 'time'">{{ value | amDateFormat:'LT' }}</p>
  <p *ngIf="value && type == 'datetime'">{{ value | amDateFormat:'llll' }}</p>
  <p *ngIf="value && type == 'number'">{{ value | formatNumber }}</p>
  <p *ngIf="value && type == 'amount'">${{ value | formatNumber }}</p>
  <p *ngIf="value && type == 'percent'">{{ value | formatNumber }}%</p>
  <p *ngIf="value && type == 'values' && !multiple && view.fields[name].values" [class]="name + '-' + value">{{ getName(view.fields[name].values,value) | translate }}</p>
  <p *ngIf="value && type == 'values' && !multiple && !view.fields[name].values" [class]="name + '-' + value">{{ view.entity + '.values.' + name + '.' + value | translate }}</p>
  <p *ngIf="value && type == 'values' && multiple">{{ value }}</p>
  <p *ngIf="value && type == 'textarea'" style="white-space:pre;">{{ value }}</p>
</ion-item>

<div [formGroup]="form" *ngIf="edit && form && type != 'update' && type != 'delete'">
  <ion-item lines="none">
    <ion-label *ngIf="label" [class]="required ? 'required' : ''">{{ view.entity + '.fields.' + name + '.label' | translate }}</ion-label>
    <span *ngIf="type=='amount'" class="ion-padding"> $ </span>
    <ion-input [type]="type == 'amount' || type == 'percent' ? 'number' : 'type'" [formControlName]="name" [required]="required" placeholder="{{ 'page.fields.empty' | translate }}" *ngIf="['text', 'password', 'email', 'number','amount','percent', 'search', 'tel', 'url'].indexOf(type) > -1" (ionChange)="emmitOnChange($event)"></ion-input>
    <span *ngIf="type=='percent'" class="ion-padding"> % </span>
    <ion-select [formControlName]="name" [required]="required" [multiple]="multiple" placeholder="{{ 'page.fields.empty' | translate }}" interface="popover" okText="{{ 'page.fields.selectSubmit' | translate }}" cancelText="{{ 'page.fields.selectCancel' | translate }}" *ngIf="type=='values'" (ionChange)="emmitOnChange($event)" [style]="(label ? '' : 'max-width: 100%;width: 100%;')">
      <div *ngIf="view.fields[name].values">
        <ion-select-option *ngFor="let value of view.fields[name].values" [value]="value.id">
          {{ value.name | translate }}
        </ion-select-option>
      </div>
      <div *ngIf="!view.fields[name].values">
        <ion-select-option *ngFor="let value of view.fields[name].match" [value]="value">
          {{ view.entity + '.values.' + name + '.' + value | translate }}
        </ion-select-option>
      </div>
    </ion-select>
    <!-- TODO MAX: poner demas atributos-->
    <ion-datetime displayFormat="MM/DD/YYYY" min="2018-01-01" max="2022-12-30" [formControlName]="name" [required]="required" *ngIf="type=='date'" (ionChange)="emmitOnChange($event)"></ion-datetime>
    <ion-datetime displayFormat="HH:mm" min="2018-01-01" max="2022-12-30" [formControlName]="name" [required]="required" *ngIf="type=='time'" (ionChange)="emmitOnChange($event)"></ion-datetime>
    <ion-datetime displayFormat="MM/DD/YYYY HH:mm" min="2018-01-01" max="2022-12-30" [formControlName]="name" [required]="required" *ngIf="type=='datetime'" (ionChange)="emmitOnChange($event)"></ion-datetime>
    <ion-toggle [formControlName]="name" [required]="required" *ngIf="type=='checkbox'" (ionChange)="emmitOnChange($event)"></ion-toggle>
    <ion-textarea [formControlName]="name" [required]="required" *ngIf="type=='textarea'" rows="3" (ionChange)="emmitOnChange($event)"></ion-textarea>
  </ion-item>
</div>

<div class="messages">
  <div class="error" *ngIf="form && form.controls && form.controls[name] && (form.controls[name].dirty || form.controls[name].touched) && form.controls[name].errors && form.controls[name].errors.required">
    {{ view.entity + '.fields.required' | translate }}
  </div>
  <div class="error" *ngIf="form && form.controls && form.controls[name] && (form.controls[name].dirty || form.controls[name].touched) && form.controls[name].errors && form.controls[name].errors.pattern">
    {{ view.entity + '.fields.' + name + '.invalid' | translate }}
  </div>
</div>