
<div class="app-item-image-container" *ngIf="size == 'small' && type == 'thumbnail'">
  <ion-thumbnail [slot]="slot">
    <img [src]="makeImageUrl()">
  </ion-thumbnail>
</div>

<div class="app-item-image-container" *ngIf="size == 'small' && type == 'avatar'">
  <ion-avatar [slot]="slot">
    <img [src]="makeImageUrl()">
  </ion-avatar>
</div>

<div class="app-item-image-container" *ngIf="size == 'large'">
  <ion-label position="fixed" *ngIf="label" [class]="required ? 'required' : ''">{{ view.entity + '.fields.' + name + '.label' | translate }}</ion-label>
  <div class="app-item-image-content" [style.background-image]="'url(' + makeImageUrl() + ')'">
    <div class="app-item-image-button update" *ngIf="edit && view && view.entity && authPage(view.entity + '/update/:id') && value == null" (click)="upload()">
      <ion-icon name="camera"></ion-icon>
    </div>
    <div class="app-item-image-button remove" *ngIf="edit && view && view.entity && authPage(view.entity + '/update/:id') && value != null" (click)="remove()">
      <ion-icon name="trash"></ion-icon>
    </div>
  </div>
</div>
